html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica", sans-serif;
	background-color: #fff;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	h1 {
		font-size: 3em;
	}
}
