html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10);
}


:fullscreen a {
    display: flex
}
